* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    transition: background 0.3s ease, box-shadow 0.3s ease
}

.navbar-brand img {
    transition: width 0.3s ease, height 0.3s ease
}

.animate__animation {
    opacity: 0;
    transition: all .3s ease;
}

section#beranda {
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

section#beranda .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #257ca3;
    opacity: .3;
}

section#beranda img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    object-fit: cover;
}

section#beranda h1 {
    color: #f0f8ff;
    font-size: 72px;
}

section#about {
    /* background-color: #f0f8ff; */
}

section#detail {
    background-color: #38acc2;
    overflow: hidden;
}

section#detail img.kertas-atas {
    transform: rotate(180deg);
}

section#detail h1 {
    font-size: 56px;
    font-weight: bold;
}

section#detail span.text {
    font-size: 20px;
}

section#produk p {
    font-size: 56px;
}

section#produk .produk-item .nama-produk {
    font-weight: bold;
    font-size: 24px;
}

section#produk .produk-item .ukuran-produk {
    margin-top: .3rem;
    font-weight: bold;
    font-size: 24px;
    background-color: #257ca3;
    color: aliceblue;
    padding: .5rem 1.2rem;
    border-radius: 5rem;
}

section#kontak {
    overflow: hidden;
    color: #f0f8ff;
}
section#kontak img.kertas-atas {
    position: absolute;
    width: 100%;
    z-index: -1;
    transform: rotate(180deg);
}
section#kontak img.kertas-hitam {
    position: absolute;
    width: 100%;
    z-index: -2;
}

section#kontak .detail-kontak {
    margin-top: 14rem;
}

section#kontak .detail-kontak .list-jadwal {
    display: flex;
    align-items: end;
    margin-bottom: 1rem;
}

section#kontak .detail-kontak .list-jadwal .dots {
    flex-grow: 1;
    border-bottom: 1.5px dotted #f0f8ff;
    height: 0;
    margin: 0 .5rem .5rem;
}

section#kontak .detail-kontak .hari {
    white-space: nowrap;
}

section#kontak .detail-kontak .jam {
    white-space: nowrap;
    color: #257ca3;
}

